.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;

}

.form-field{
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 20px;
}

.form-field label{
    font-size: 16px;
    color: #333;
}

.form-field input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn{
    width: 500px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #555;
}